{% extends 'my_blog/blog_base.html' %}
{% load static %}
{% load markdownify %}
{% load mytags %}

{% block pagecss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/content.css' %}"/>
{% endblock pagecss %}

{% block content %}
{% autoescape off %}
<div class="blog-wrap">
    <article>
        <header>
            <!--<a style="display: none" href="https://plus.google.com/+Yaolaike9mZuo?rel=author">Google</a>-->
            <footer class="intro">
                <time class="timer" pubdate="{{ blogpost.pub_date }}" data-updated="{{ blogpost.last_edit_date }}">
                    {{ blogpost.pub_date|date:'M'|upper }}
                    {{ blogpost.pub_date|date:"dS"|upper|stripleadingzero }}, {{ blogpost.pub_date.year }}
                </time>
                <span class="tags">
              TAG:
              {% for tag in blogpost.tags.all %}
                {{ tag.name }}
                {%if not forloop.last%},{%endif%}
              {% endfor %}
            </span>
            </footer>
            <h1 class="entry-title"><b>{{ blogpost.title }}</b></h1>
        </header>
        <div class="codehilite">
            {{ blogpost.body | markdown | safe }}
        </div>
    </article>
</div>
{% endautoescape %}

{% endblock content %}